In [1]:
import pandas as pd
import numpy as np
import csv
import statsmodels.api as sm
import os

In [2]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [3]:
import dotenv

# Load the environment variables
# (loads CENSUS_API_KEY from .env)
dotenv.load_dotenv()

False

In [4]:
%%R
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.4.4     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In addition: Warning messages:
1: package ‘readr’ was built under R version 4.2.3
2: package ‘dplyr’ was built under R version 4.2.3
3: package ‘stringr’ was built under R version 4.2.3

In [5]:
# Open the file and turn it into a pandas dataframe
df = pd.read_csv('Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

# Show the first 5 rows of the dataframe
print(df.head())

   RegionID  SizeRank  RegionName RegionType StateName State      City  \
0     91982         1       77494        zip        TX    TX      Katy
1     61148         2        8701        zip        NJ    NJ  Lakewood
2     91940         3       77449        zip        TX    TX      Katy
3     62080         4       11368        zip        NY    NY  New York
4     91733         5       77084        zip        TX    TX   Houston

                                   Metro        CountyName     2000-01-31  \
0   Houston-The Woodlands-Sugar Land, TX  Fort Bend County  210077.000246
1  New York-Newark-Jersey City, NY-NJ-PA      Ocean County  137227.265500
2   Houston-The Woodlands-Sugar Land, TX     Harris County  103358.701090
3  New York-Newark-Jersey City, NY-NJ-PA     Queens County  146558.052897
4   Houston-The Woodlands-Sugar Land, TX     Harris County  102016.821579

   ...     2023-05-31     2023-06-30     2023-07-31     2023-08-31  \
0  ...  474580.751007  477700.023919  480490.175686  482965.054900
1  ...  539802.494668  545735.752680  551838.382379  557728.003874
2  ...  275667.463240  276046.471281  276807.503132  277704.317637
3  ...  463122.443843  457780.560712  455976.188384  455970.300511
4  ...  269425.329064  270023.265648  270866.796469  271740.075276

      2023-09-30     2023-10-31     2023-11-30     2023-12-31     2024-01-31  \
0  484784.135611  486023.522915  486713.787606  487327.752727  488702.818402
1  564047.841208  571383.080659  578179.883051  582945.046770  584527.859569
2  278238.181709  278227.970902  277993.093814  277702.060665  278056.292900
3  455418.562614  453412.439800  450092.281523  445849.486595  443049.463008
4  272168.214713  272158.564737  271738.097724  271316.067046  271361.964052

      2024-02-29
0  490863.655271
1  587083.885915
2  278755.327431
3  441461.718399
4  271885.730062

[5 rows x 299 columns]

In [6]:
# Print the column names
print(df.columns)

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName', '2000-01-31',
       ...
       '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31', '2023-09-30',
       '2023-10-31', '2023-11-30', '2023-12-31', '2024-01-31', '2024-02-29'],
      dtype='object', length=299)

In [7]:
# Keep only data with State as NJ
df = df[df['State'] == 'WA']

# Keep only columns including RegionName, StateName, City, Metro, CountyName, 31/12/2018, 31/12/2019, 31/12/2022, 31/12/2023
df = df[['RegionName', 'StateName', 'City', 'Metro', 'CountyName', '2018-12-31', '2019-12-31', '2022-12-31', '2023-12-31']]

In [8]:
# Ditch the rows with NaN values
df = df.dropna()

# Show how many rows are left
print(df.shape)

(399, 9)

In [9]:
df['RegionName'] = df['RegionName'].astype(str).str.zfill(5)

In [10]:
# Show the first 5 rows of RegionName
print(df['RegionName'].head())

70     99301
139    98052
148    98012
313    98682
477    98208
Name: RegionName, dtype: object

In [11]:
# Store all the RegionNames in a list
wa_zips = df['RegionName'].tolist()

In [12]:
%%R 

require('tidycensus')

# because it an environment variable, we don't have to 
# explicitly pass this string to R, it is readable here
# in this R cell.
census_api_key(Sys.getenv("97779d587a8fdba4e4f7f7d3eec838313d5b07ab"))

Loading required package: tidycensus
To install your API key for use in future sessions, run this function with `install = TRUE`.
In addition: Warning message:
package ‘tidycensus’ was built under R version 4.2.3

In [13]:
%%R 
# Get variable from ACS
wa_census_data_2022 <- get_acs(geography = "zip code tabulation area",
                      variables = c(
                        total_population_2022 = "B01003_001",
                        median_room_2022 = "B25018_001",
                        median_built_2022 = "B25035_001",
                        median_income_2022 = "B06011_001",
                        bachelor_2022 = "B26106_005",
                        asian_2022 = "B03002_006", 
                        black_2022 = "B03002_004",
                        hispanic_2022 = "B03002_012"
                      ), 
                      year = 2022,
                      survey="acs5",
                      geometry=F)
wa_census_data_2022

# A tibble: 270,192 × 5
   GEOID NAME        variable              estimate   moe
   <chr> <chr>       <chr>                    <dbl> <dbl>
 1 00601 ZCTA5 00601 total_population_2022    16834   506
 2 00602 ZCTA5 00602 total_population_2022    37642   205
 3 00603 ZCTA5 00603 total_population_2022    49075   963
 4 00606 ZCTA5 00606 total_population_2022     5590   264
 5 00610 ZCTA5 00610 total_population_2022    25542   344
 6 00611 ZCTA5 00611 total_population_2022     1315   382
 7 00612 ZCTA5 00612 total_population_2022    63312  1805
 8 00616 ZCTA5 00616 total_population_2022     9625  1319
 9 00617 ZCTA5 00617 total_population_2022    22573   241
10 00622 ZCTA5 00622 total_population_2022     7577   979
# ℹ 270,182 more rows
# ℹ Use `print(n = ...)` to see more rows

Getting data from the 2018-2022 5-year ACS
In addition: Warning message:
• You have not set a Census API key. Users without a key are limited to 500
queries per day and may experience performance limitations.
ℹ For best results, get a Census API key at
http://api.census.gov/data/key_signup.html and then supply the key to the
`census_api_key()` function to use it throughout your tidycensus session.
This warning is displayed once per session.

In [14]:
%R -i wa_zips

wa_zips

['99301',
 '98052',
 '98012',
 '98682',
 '98208',
 '99208',
 '98391',
 '98387',
 '98105',
 '98115',
 '98023',
 '98103',
 '98270',
 '98632',
 '98258',
 '99336',
 '98003',
 '98661',
 '98042',
 '98034',
 '98902',
 '98133',
 '98223',
 '98501',
 '98226',
 '98225',
 '98118',
 '98801',
 '98125',
 '98204',
 '98374',
 '99205',
 '98837',
 '99362',
 '99206',
 '98290',
 '98036',
 '98031',
 '98058',
 '98122',
 '98032',
 '98503',
 '98087',
 '98277',
 '98059',
 '98033',
 '98026',
 '98366',
 '98004',
 '98006',
 '98908',
 '98001',
 '98117',
 '98662',
 '98584',
 '98607',
 '98604',
 '98030',
 '98404',
 '98056',
 '98684',
 '98370',
 '98513',
 '98155',
 '99163',
 '98198',
 '98203',
 '98168',
 '98375',
 '98499',
 '99337',
 '98002',
 '99352',
 '98926',
 '98021',
 '99223',
 '98201',
 '98229',
 '98038',
 '98109',
 '98512',
 '99207',
 '98312',
 '98802',
 '98040',
 '98445',
 '98029',
 '98498',
 '98901',
 '98683',
 '98466',
 '98367',
 '98027',
 '98074',
 '98338',
 '98037',
 '98531',
 '98146',
 '98273',
 '98144',
 '98272',
 '98271',
 '98382',
 '98516',
 '98409',
 '98007',
 '98685',
 '98311',
 '98072',
 '98520',
 '98335',
 '98665',
 '98373',
 '98011',
 '98188',
 '98008',
 '98107',
 '98106',
 '98296',
 '98248',
 '98178',
 '98626',
 '98597',
 '98372',
 '98116',
 '98075',
 '98108',
 '98112',
 '98944',
 '98028',
 '99216',
 '98119',
 '98055',
 '98110',
 '99224',
 '98405',
 '99217',
 '98642',
 '98292',
 '98053',
 '98126',
 '98406',
 '98664',
 '98199',
 '98671',
 '98371',
 '98532',
 '99354',
 '98177',
 '98022',
 '98102',
 '98166',
 '99004',
 '98310',
 '99202',
 '99203',
 '98362',
 '98408',
 '98005',
 '98221',
 '98422',
 '98264',
 '98121',
 '98043',
 '98686',
 '99403',
 '98383',
 '98275',
 '98274',
 '98020',
 '99016',
 '99344',
 '99353',
 '98942',
 '98407',
 '98506',
 '98332',
 '98321',
 '99212',
 '99338',
 '98136',
 '98663',
 '98045',
 '99218',
 '98360',
 '98467',
 '98903',
 '98233',
 '99006',
 '99350',
 '99037',
 '98674',
 '98951',
 '98101',
 '98446',
 '98930',
 '99114',
 '98104',
 '98948',
 '99201',
 '98390',
 '98848',
 '98077',
 '98057',
 '98660',
 '98528',
 '98065',
 '98019',
 '98823',
 '98579',
 '98363',
 '98550',
 '99019',
 '98424',
 '98580',
 '98252',
 '99320',
 '98329',
 '98070',
 '98148',
 '98328',
 '98327',
 '99005',
 '98418',
 '98541',
 '98611',
 '98596',
 '98606',
 '98629',
 '99022',
 '98346',
 '99021',
 '98337',
 '98563',
 '98826',
 '99324',
 '98014',
 '98922',
 '98239',
 '98354',
 '98589',
 '99349',
 '99026',
 '98625',
 '98403',
 '98675',
 '99204',
 '98815',
 '98051',
 '98465',
 '98294',
 '98851',
 '98010',
 '98260',
 '98024',
 '99001',
 '98816',
 '98331',
 '98953',
 '98349',
 '99025',
 '98359',
 '98236',
 '98388',
 '99326',
 '99027',
 '98047',
 '98937',
 '98932',
 '98237',
 '98576',
 '98402',
 '98443',
 '98244',
 '99109',
 '99003',
 '98936',
 '98380',
 '99111',
 '98546',
 '98935',
 '99357',
 '99009',
 '98249',
 '99323',
 '98257',
 '98232',
 '98847',
 '98570',
 '98251',
 '98831',
 '98557',
 '98591',
 '98333',
 '98947',
 '98524',
 '98857',
 '98295',
 '98340',
 '99169',
 '98568',
 '98813',
 '98240',
 '98134',
 '98601',
 '98039',
 '98356',
 '98253',
 '98610',
 '98828',
 '98266',
 '98564',
 '99343',
 '98603',
 '98595',
 '98938',
 '99360',
 '98377',
 '98392',
 '98952',
 '99173',
 '99133',
 '98858',
 '99181',
 '99029',
 '98843',
 '99036',
 '99148',
 '98592',
 '98822',
 '99330',
 '99361',
 '99030',
 '98342',
 '99115',
 '98605',
 '99013',
 '98548',
 '98588',
 '98830',
 '98649',
 '98572',
 '99110',
 '99101',
 '99023',
 '98850',
 '98394',
 '99161',
 '98361',
 '98645',
 '99167',
 '98923',
 '98933',
 '98304',
 '98581',
 '99341',
 '99171',
 '98351',
 '99128',
 '99402',
 '99158',
 '99031',
 '99033',
 '99125',
 '99143',
 '99113',
 '98585',
 '99130',
 '98267',
 '98281',
 '98593',
 '98651',
 '99157',
 '99123',
 '99179',
 '98220',
 '98288',
 '98555',
 '98535',
 '98946',
 '98256',
 '98276',
 '98345',
 '98396',
 '98571',
 '98068',
 '98943',
 '98925',
 '98050',
 '98206',
 '98940',
 '98385',
 '98616',
 '98941',
 '98530',
 '98283',
 '98224',
 '98164',
 '98934']

In [15]:
%%R
# Remove the "ZCTA5 " prefix from the NAME column
wa_census_data_2022$NAME <- sub("ZCTA5 ", "", wa_census_data_2022$NAME)

# Show the first 5 rows of the wa_census_data_2022 dataframe
head(wa_census_data_2022)

# A tibble: 6 × 5
  GEOID NAME  variable              estimate   moe
  <chr> <chr> <chr>                    <dbl> <dbl>
1 00601 00601 total_population_2022    16834   506
2 00602 00602 total_population_2022    37642   205
3 00603 00603 total_population_2022    49075   963
4 00606 00606 total_population_2022     5590   264
5 00610 00610 total_population_2022    25542   344
6 00611 00611 total_population_2022     1315   382

In [16]:
%%R
# Keep only the rows with RegionName in wa_zips
wa_census_data_2022 <- wa_census_data_2022[wa_census_data_2022$NAME %in% wa_zips,]

# Show the first 5 rows of the wa_census_data_2022 dataframe
head(wa_census_data_2022)

# A tibble: 6 × 5
  GEOID NAME  variable              estimate   moe
  <chr> <chr> <chr>                    <dbl> <dbl>
1 98001 98001 total_population_2022    35842  1907
2 98002 98002 total_population_2022    36812  1637
3 98003 98003 total_population_2022    51329  1996
4 98004 98004 total_population_2022    39161  1830
5 98005 98005 total_population_2022    22030  1507
6 98006 98006 total_population_2022    39753  1924

In [17]:
%%R
# Ditch NAME and moe columns
wa_census_data_2022 <- wa_census_data_2022 %>%
  select(-NAME, -moe)

In [18]:
%%R
# Convert the long format to wide format
wa_census_data_2022_wide <- wa_census_data_2022 %>%
  pivot_wider(
    names_from = variable,  # Column that contains variable names
    values_from = estimate  # Column that contains the values
  )

# Show the first 5 rows of the nj_census_data_2022 dataframe
head(wa_census_data_2022_wide)

# A tibble: 6 × 9
  GEOID total_population_2022 median_room_2022 median_built_2022
  <chr>                 <dbl>            <dbl>             <dbl>
1 98001                 35842              6.2              1985
2 98002                 36812              4.5              1977
3 98003                 51329              4.5              1984
4 98004                 39161              3.8              1998
5 98005                 22030              4.8              1980
6 98006                 39753              7.6              1979
# ℹ 5 more variables: median_income_2022 <dbl>, bachelor_2022 <dbl>,
#   asian_2022 <dbl>, black_2022 <dbl>, hispanic_2022 <dbl>

In [19]:
%%R
df <- read.csv("Zip_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")

# Fill the RegionName to 5 digits
df$RegionName <- as.character(df$RegionName)
df$RegionName <- sprintf("%05s", df$RegionName)

# Keep only data with State as NJ
df <- df[df$State == 'WA',]

# Show the first 5 rows of the dataframe
head(df)

    RegionID SizeRank RegionName RegionType StateName State      City
71    100179       72      99301        zip        WA    WA     Pasco
140    99534      145      98052        zip        WA    WA   Redmond
149    99500      154      98012        zip        WA    WA   Bothell
314    99961      320      98682        zip        WA    WA Vancouver
478    99631      487      98208        zip        WA    WA   Everett
608   100157      617      99208        zip        WA    WA   Spokane
                                  Metro       CountyName X2000.01.31
71               Kennewick-Richland, WA  Franklin County    138643.6
140         Seattle-Tacoma-Bellevue, WA      King County    293480.1
149         Seattle-Tacoma-Bellevue, WA Snohomish County    264402.9
314 Portland-Vancouver-Hillsboro, OR-WA     Clark County    155308.4
478         Seattle-Tacoma-Bellevue, WA Snohomish County    217152.8
608          Spokane-Spokane Valley, WA   Spokane County    139052.6
    X2000.02.29 X2000.03.31 X2000.04.30 X2000.05.31 X2000.06.30 X2000.07.31
71     138772.5    138867.8    139198.9    139633.3    140193.5    140700.3
140    294558.2    295827.0    298221.7    300863.7    302958.0    305433.1
149    264924.6    265482.8    266811.7    268382.5    269936.8    270872.3
314    155456.7    155592.6    155813.8    155882.7    156073.5    156571.6
478    217548.9    217806.9    218616.7    219684.9    220963.3    221849.5
608    138890.7    138801.1    138737.4    138495.7    138159.4    137672.8
    X2000.08.31 X2000.09.30 X2000.10.31 X2000.11.30 X2000.12.31 X2001.01.31
71     141327.5    141963.6    142652.9    143245.6    143858.4    144658.9
140    307364.5    309114.1    310004.8    310944.9    312206.2    314072.5
149    271509.8    271913.9    272773.4    273730.2    274927.8    275692.1
314    157527.4    158429.0    159073.9    159203.1    159614.5    159546.2
478    222409.3    222689.0    223283.4    223930.3    224794.7    225308.0
608    137542.3    137580.9    137630.3    137435.7    136994.9    136682.6
    X2001.02.28 X2001.03.31 X2001.04.30 X2001.05.31 X2001.06.30 X2001.07.31
71     145455.9    146285.6    146949.1    147538.3    148052.6    148517.7
140    316056.5    317863.0    319171.9    320024.6    320788.4    321462.5
149    276718.6    277920.7    279549.3    280949.5    282249.2    283199.6
314    159542.0    158761.6    158711.4    158807.9    159564.6    160277.4
478    226088.4    227024.2    228284.1    229295.5    230239.5    230905.9
608    136601.5    136799.0    136987.8    137110.1    137311.7    137579.0
    X2001.08.31 X2001.09.30 X2001.10.31 X2001.11.30 X2001.12.31 X2002.01.31
71     149050.6    149544.2    149994.7    150401.5    150756.9    151142.9
140    322508.5    323367.1    324385.5    325151.4    326340.6    327188.4
149    284263.9    285061.0    286254.4    287218.8    288338.3    289328.0
314    161338.6    162174.9    162908.7    163386.7    164196.9    164531.9
478    231836.0    232632.5    233830.9    234787.8    235822.1    236707.0
608    138024.5    138555.0    139187.5    139763.3    140240.8    140540.3
    X2002.02.28 X2002.03.31 X2002.04.30 X2002.05.31 X2002.06.30 X2002.07.31
71     151568.9    152022.2    152518.5    152968.6    153494.9    153983.8
140    328202.1    329341.2    331013.4    332716.7    334137.9    335408.4
149    290425.6    291640.2    292768.7    293858.0    294833.0    295566.1
314    164707.1    164530.8    164706.6    164908.5    165272.1    165922.5
478    237730.1    238922.2    240093.5    241176.3    242027.1    242520.3
608    140698.6    140830.5    141009.3    141479.7    141968.4    142600.1
    X2002.08.31 X2002.09.30 X2002.10.31 X2002.11.30 X2002.12.31 X2003.01.31
71     154505.9    154981.7    155444.4    155806.7    156083.6    156317.5
140    336539.5    337527.8    338323.0    339275.0    339676.5    340741.1
149    296373.6    296866.6    297648.2    298006.6    298164.7    298446.3
314    166798.2    167541.4    168082.4    168546.0    169230.8    169531.5
478    242917.5    243183.1    243891.7    244414.4    244664.5    244750.6
608    143140.7    143690.6    144187.6    144719.7    145277.0    145828.8
    X2003.02.28 X2003.03.31 X2003.04.30 X2003.05.31 X2003.06.30 X2003.07.31
71     156589.5    156857.6    157189.3    157593.4    158109.1    158568.8
140    341445.6    343096.2    344317.0    346018.1    347263.8    348162.6
149    299192.7    300561.5    302141.5    303528.7    304871.1    306107.9
314    169723.4    169726.5    170080.1    170470.5    171083.3    172096.2
478    245037.4    245831.8    246915.5    248030.1    249170.0    250290.1
608    146251.9    146549.1    146803.5    147155.8    147738.0    148349.0
    X2003.08.31 X2003.09.30 X2003.10.31 X2003.11.30 X2003.12.31 X2004.01.31
71     159267.9          NA          NA          NA          NA    155594.9
140    349231.0    350417.4    351805.8    352666.3    353993.0    355968.8
149    307514.7    308473.4    309099.6    309581.2    310730.1    312324.5
314    173673.1    175462.8    177261.7    178936.2    180533.6    181472.3
478    251650.8    252789.8    253747.3    254442.8    255521.1    256803.7
608    149153.5    150116.6    151068.9    152045.8    152743.1    153285.2
    X2004.02.29 X2004.03.31 X2004.04.30 X2004.05.31 X2004.06.30 X2004.07.31
71     155772.7    155985.6    156165.9    156288.7    155996.1    155828.9
140    358669.3    360968.8    363580.6    366720.7    371027.4    375150.4
149    313783.1    315351.8    317014.9    319857.0    323144.6    326091.3
314    182192.0    182872.0    184195.5    185591.8    187271.6    189358.2
478    258084.9    259452.9    260852.0    263006.4    265457.4    267488.7
608    153675.2    154277.4    155355.8    156913.3    158684.0    160644.3
    X2004.08.31 X2004.09.30 X2004.10.31 X2004.11.30 X2004.12.31 X2005.01.31
71     155696.1    156141.8    156587.0    157076.5    157432.2    157991.3
140    378900.8    382212.6    385008.3    387811.9    390860.4    394471.6
149    328481.1    330412.3    332967.7    335574.1    338520.6    341776.7
314    191906.0    193930.3    195717.3    197198.3    199245.1    200719.1
478    268901.4    269950.2    271563.5    273558.1    276058.4    279076.7
608    162402.2    163982.9    165272.2    166434.2    167763.2    169123.6
    X2005.02.28 X2005.03.31 X2005.04.30 X2005.05.31 X2005.06.30 X2005.07.31
71     159642.7    163645.5          NA    175377.2    180165.3    184312.6
140    397475.8    401537.6    406316.8    412115.6    418426.8    426217.8
149    344742.5    347545.4    350275.1    354085.5    359524.1    365562.9
314    202245.5    203930.5    206648.9    209903.5    214161.3    219085.7
478    281742.4    284020.8    286329.6    289656.8    294533.4    299821.6
608    170205.6    171365.8    172921.6    175285.0    178556.0    182485.8
    X2005.08.31 X2005.09.30 X2005.10.31 X2005.11.30 X2005.12.31 X2006.01.31
71     188839.5    193155.4    197215.6    200505.4    203540.2    206333.0
140    435268.6    443713.9    451010.4    457838.6    464857.1    470860.7
149    371840.7    377461.1    382873.0    387896.2    392660.8    396464.9
314    224792.4    230756.8    236220.1    241189.3    245501.5    249433.0
478    305394.1    310385.8    315225.2    319666.9    323696.5    326700.8
608    186961.2    191101.9    194192.4    196621.7    198390.0    199506.1
    X2006.02.28 X2006.03.31 X2006.04.30 X2006.05.31 X2006.06.30 X2006.07.31
71     207368.5    206406.8    204748.9    203781.8    203479.4    203059.4
140    478186.8    485501.8    494133.3    501923.1    509547.3    516803.7
149    400999.1    405639.8    411947.8    419423.5    427786.1    435828.1
314    252672.0    255123.5    258158.6    261288.3    264493.0    266459.7
478    330257.0    334072.5    339274.0    345256.4    351678.2    357884.8
608    200269.2    202455.4    205691.9    209721.7    212674.7    215743.9
    X2006.08.31 X2006.09.30 X2006.10.31 X2006.11.30 X2006.12.31 X2007.01.31
71     203203.3    203548.6    203759.6    203344.9    202997.5    201924.7
140    523591.8    529634.5    535785.2    540331.8    543022.6    544191.7
149    443110.7    448548.4    452787.4    455003.3    456694.8    457030.8
314    268056.5    268831.4    268658.3    267914.7    267463.7    267901.0
478    363570.9    367822.6    371077.3    372707.2    374158.3    374558.1
608    218471.3    221216.1    223619.4    225118.3    225470.4    225228.1
    X2007.02.28 X2007.03.31 X2007.04.30 X2007.05.31 X2007.06.30 X2007.07.31
71     200781.5    199553.1    198224.0    196733.0    195249.3    193855.6
140    545413.5    549345.2    554822.6    559861.2    562649.3    563755.6
149    459667.1    463668.8    469119.9    472403.0    474275.0    474666.2
314    268722.8    269416.2    270089.7    270773.9    270742.2    270497.3
478    377050.8    380646.5    385544.7    388615.2    390539.2    391292.2
608    225738.9    227030.5    228855.6    230609.7    232620.5    234767.3
    X2007.08.31 X2007.09.30 X2007.10.31 X2007.11.30 X2007.12.31 X2008.01.31
71     192351.6    190820.0    189658.5    189451.2    189125.8    188945.9
140    566286.9    568414.3    568026.2    565143.3    562660.4    562110.6
149    474160.2    473529.3    472213.0    470382.9    467343.5    462435.7
314    269766.5    269325.3    268563.3    267194.6    265418.4    262780.2
478    391237.1    391068.1    390271.1    388978.9    386605.7    382623.4
608    236250.0    236831.4    236681.7    236187.5    235024.9    232578.1
    X2008.02.29 X2008.03.31 X2008.04.30 X2008.05.31 X2008.06.30 X2008.07.31
71     188477.2    188080.4    187292.4    185790.1    183649.4    181234.0
140    561672.0    559718.0    554859.3    548327.6    541942.3    536879.1
149    456506.9    450429.1    445445.4    440839.3    435219.9    429967.0
314    260080.7    257504.0    255082.1    252091.5    248939.3    246063.0
478    376612.9    370469.1    365161.9    361499.3    357050.4    352857.5
608    230266.8    228686.7    228087.6    227808.8    227004.1    225581.9
    X2008.08.31 X2008.09.30 X2008.10.31 X2008.11.30 X2008.12.31 X2009.01.31
71     178904.4    177073.8    175390.0    174021.5    172546.2    171055.8
140    530362.3    524078.1    517886.6    513799.6    506640.5    500847.2
149    423552.4    417628.0    411973.8    407104.1    402812.5    398108.5
314    243444.2    240397.9    237389.6    234385.8    230622.9    226325.7
478    347368.3    342219.7    337266.6    333215.2    329667.0    325865.8
608    223336.2    220498.9    217691.5    214910.6    213295.2    212308.8
    X2009.02.28 X2009.03.31 X2009.04.30 X2009.05.31 X2009.06.30 X2009.07.31
71     169556.8    168103.7    166531.1    164908.3    163379.0    161934.0
140    494740.4    490777.7    483379.7    475839.7    468394.5    463655.1
149    392787.8    386451.4    379692.5    373948.4    369006.4    365961.0
314    222773.9    220000.7    217144.4    213861.6    210777.8    208169.5
478    321783.9    316856.9    311729.7    307239.2    303510.2    301191.4
608    211486.2    210225.3    209337.9    208590.5    207981.0    206814.7
    X2009.08.31 X2009.09.30 X2009.10.31 X2009.11.30 X2009.12.31 X2010.01.31
71     160392.7    158964.8    157845.1    157046.1    156339.3    155829.3
140    460061.7    457413.0    455567.8    454937.7    456276.3    455535.3
149    363476.6    361283.4    359837.0    358762.6    357610.0    356447.9
314    205739.5    203980.1    203193.8    203300.0    204156.2    204671.5
478    299034.5    297033.1    295520.4    294231.3    292728.5    291258.6
608    206013.8    206020.7    206733.2    207112.6    206689.1    205471.7
    X2010.02.28 X2010.03.31 X2010.04.30 X2010.05.31 X2010.06.30 X2010.07.31
71     155634.6    156455.3    158159.9    160907.0    163683.0    166083.9
140    454242.5    451165.4    451156.9    452115.3    452264.1    450096.2
149    354750.3    353582.2    353011.5    352773.0    351707.3    348318.5
314    204047.0    203085.3    203369.5    204430.3    204709.4    203035.7
478    289399.5    288097.5    287398.6    286978.8    285632.0    282399.5
608    203996.7    202439.2    202091.4    202192.2    202331.2    200583.3
    X2010.08.31 X2010.09.30 X2010.10.31 X2010.11.30 X2010.12.31 X2011.01.31
71     167803.7    169040.3    170239.0    171183.8    171826.1    172175.8
140    445905.1    442407.7    437883.3    433853.9    430002.4    427637.6
149    343966.8    339389.9    334816.0    330587.8    327033.4    324522.2
314    200567.4    198275.4    196040.0    193962.0    190726.8    187800.6
478    278420.5    274196.3    269966.1    265874.5    262558.9    259865.2
608    197595.0    193768.7    191160.3    189706.2    189000.2    188471.1
    X2011.02.28 X2011.03.31 X2011.04.30 X2011.05.31 X2011.06.30 X2011.07.31
71     172525.2    172618.9    172496.5    172173.9    172076.1    171928.5
140    426587.8    424494.9    422202.2    417060.6    413265.1    409873.3
149    321803.6    319487.4    315929.7    312782.6    309677.6    306783.3
314    186099.9    185283.5    183711.1    180853.6    178752.0    177154.0
478    257414.8    255170.4    251917.4    248554.1    245278.9    242367.1
608    188206.3    187784.8    186420.7    184447.3    182306.5    181073.9
    X2011.08.31 X2011.09.30 X2011.10.31 X2011.11.30 X2011.12.31 X2012.01.31
71     171666.7    171499.8    171528.0    171656.2    171715.1    171681.9
140    408377.7    406411.8    404349.1    402439.1    400626.9    399249.9
149    303718.2    300739.8    298555.2    297035.1    295887.3    295073.6
314    175692.2    172976.5    170784.2    168916.5    168456.0    168239.7
478    239795.2    237160.2    234971.7    233290.3    232315.7    232085.8
608    180416.0    180170.5    179697.0    178783.0    178052.0    178181.8
    X2012.02.29 X2012.03.31 X2012.04.30 X2012.05.31 X2012.06.30 X2012.07.31
71     171630.7    171633.2    171598.0    171760.9    171923.5    172112.6
140    396834.5    393529.6    389145.5    385736.3    384110.3    383955.6
149    294622.0    294501.8    294699.2    294900.9    295392.2    296040.6
314    167735.7    166690.3    165429.6    164906.5    164682.7    165157.1
478    231622.6    230870.2    229934.6    229282.5    229266.6    229791.5
608    178720.7    179202.5    178780.5    178207.4    177785.5    177396.4
    X2012.08.31 X2012.09.30 X2012.10.31 X2012.11.30 X2012.12.31 X2013.01.31
71     172111.3    172202.4    172351.5    172357.1    172248.3    172361.0
140    385238.8    387959.4    391932.7    396620.6    401961.6    408462.0
149    297572.4    300130.6    303645.4    308232.1    312529.8    317367.8
314    165736.4    167410.1    169491.7    171818.0    173768.0    175647.1
478    231312.1    233588.8    236476.2    240000.4    243583.1    247500.4
608    177083.1    176948.5    177080.5    177571.1    178526.5    179618.9
    X2013.02.28 X2013.03.31 X2013.04.30 X2013.05.31 X2013.06.30 X2013.07.31
71     172672.0    173075.0    173178.8    173229.5    173071.6    172696.3
140    415009.6    420825.0    425849.0    430781.0    435754.8    440067.7
149    321413.3    325562.9    329319.0    333439.0    338208.7    343299.9
314    177612.7    179806.4    181919.7    184498.0    186821.1    189377.4
478    250907.1    254489.7    257822.8    261286.6    264589.2    268018.3
608    180790.3    181333.0    181840.8    182440.3    183315.4    183980.4
    X2013.08.31 X2013.09.30 X2013.10.31 X2013.11.30 X2013.12.31 X2014.01.31
71     172039.5    171424.6    171209.7    171224.9    171333.4    171375.7
140    444033.7    448150.7    452708.9    457149.7    461892.6    466560.3
149    348566.0    353522.5    357920.0    362423.1    366564.1    370935.7
314    191521.1    193616.5    195318.8    196879.8    198439.2    200098.2
478    271899.1    276109.9    280221.4    283855.1    286654.3    289305.3
608    184139.4    184070.2    184257.1    184829.8    186027.5    186971.9
    X2014.02.28 X2014.03.31 X2014.04.30 X2014.05.31 X2014.06.30 X2014.07.31
71     171675.6    172156.4    172547.3    172983.9    173342.2    174027.7
140    471676.3    476210.1    480801.9    485140.7    488723.1    491479.3
149    374104.5    376831.7    378829.7    380369.0    381031.3    380873.2
314    201671.9    203515.5    205094.5    206884.0    208096.5    209679.9
478    291547.9    294038.9    295945.4    297456.9    298036.0    298276.1
608    187812.0    188118.7    188457.8    188744.5    188988.7    189270.8
    X2014.08.31 X2014.09.30 X2014.10.31 X2014.11.30 X2014.12.31 X2015.01.31
71     174424.9    174799.6    174852.8    175141.0    175535.9    176239.8
140    493069.5    494662.8    496272.8    498833.3    503134.6    509198.9
149    380927.3    381914.1    383663.7    386367.0    389393.5    393730.7
314    211271.3    213308.8    215147.9    216849.6    218453.5    220356.1
478    298862.8    300171.7    302149.4    304490.6    306979.2    310167.0
608    189507.9    189713.9    189882.4    190258.2    191113.9    191814.2
    X2015.02.28 X2015.03.31 X2015.04.30 X2015.05.31 X2015.06.30 X2015.07.31
71     176926.3    177450.7    177963.5    178591.3    179432.0    180430.8
140    516148.7    522468.9    527042.5    531329.9    534971.0    538580.0
149    397559.7    400782.1    402794.7    404609.9    406547.5    408236.5
314    222635.7    225034.0    227170.6    229401.8    231476.0    234176.2
478    313265.2    316304.8    318801.0    320944.9    323038.1    324629.1
608    192541.1    192808.3    193508.8    194244.5    195362.4    196925.0
    X2015.08.31 X2015.09.30 X2015.10.31 X2015.11.30 X2015.12.31 X2016.01.31
71     181650.8    182855.0    184108.2    185147.8    186294.6    187308.5
140    541445.3    545361.6    550720.2    557330.8    564192.7    571959.8
149    410525.9    413386.7    416714.9    420403.3    424147.5    428835.2
314    236705.8    239567.3    241953.8    244456.4    247146.0    250245.2
478    326738.5    329144.8    332110.4    335399.0    338709.7    342380.5
608    198706.1    200630.2    202260.1    204024.3    205903.2    207845.2
    X2016.02.29 X2016.03.31 X2016.04.30 X2016.05.31 X2016.06.30 X2016.07.31
71     188395.0    189406.6    190714.6    192377.4    194285.4    196064.7
140    579667.0    586814.8    592609.7    597527.1    601627.7    605376.2
149    433102.3    437132.1    440244.9    443209.0    445614.8    447812.5
314    253439.2    256348.4    259072.2    261897.0    264379.1    266873.2
478    345936.6    349595.9    353027.2    355920.9    358122.4    359703.8
608    209640.8    210871.9    211957.4    212688.6    213470.4    214153.1
    X2016.08.31 X2016.09.30 X2016.10.31 X2016.11.30 X2016.12.31 X2017.01.31
71     197560.2    199170.2    200909.9    202875.2    204759.9    206580.5
140    609344.5    613431.3    619004.7    626284.1    636489.6    647479.5
149    450259.4    453511.5    457634.7    462648.9    468124.1    473990.5
314    268825.9    270866.5    272659.5    274646.0    276939.0    279443.2
478    361335.1    363499.5    366439.2    370301.9    374715.8    379617.9
608    214891.3    215703.0    216906.4    218506.7    220538.6    222676.6
    X2017.02.28 X2017.03.31 X2017.04.30 X2017.05.31 X2017.06.30 X2017.07.31
71     208349.6    210105.0    211939.3    213625.1    215417.9    217120.7
140    659258.4    671435.6    684243.9    696302.2    707468.9    717028.6
149    480191.1    486916.8    493714.4    499654.0    505289.2    510419.9
314    282284.8    285216.1    288131.5    290666.0    292887.1    295046.0
478    384399.1    389032.7    393066.2    396160.9    398897.1    401368.0
608    225099.5    227518.6    229618.7    231264.9    232860.0    234383.3
    X2017.08.31 X2017.09.30 X2017.10.31 X2017.11.30 X2017.12.31 X2018.01.31
71     218984.0    220879.2    223263.5    225792.3    228253.2    230244.6
140    725518.1    732976.8    740690.5    749220.7    760265.7    772563.2
149    516099.7    521622.5    527209.9    533057.9    539970.9    547786.6
314    297157.8    299193.0    300623.8    301961.4    303432.7    305688.9

In [20]:
%%R
# How many rows are left
nrow(df)

[1] 486

In [21]:
%%R

# Append the X2022.12.31 column to the ma_census_data_2022_wide dataframe
# With RegionName in df matching GEOID in ma_census_data_2022_wide. Only keep the rows with a match.

wa_census_data_2022_wide <- wa_census_data_2022_wide %>%
    inner_join(df, by = c('GEOID' = 'RegionName'))

# Show the first 5 rows of the nj_census_data_2022_wide dataframe
head(wa_census_data_2022_wide)

# A tibble: 6 × 307
  GEOID total_population_2022 median_room_2022 median_built_2022
  <chr>                 <dbl>            <dbl>             <dbl>
1 98001                 35842              6.2              1985
2 98002                 36812              4.5              1977
3 98003                 51329              4.5              1984
4 98004                 39161              3.8              1998
5 98005                 22030              4.8              1980
6 98006                 39753              7.6              1979
# ℹ 303 more variables: median_income_2022 <dbl>, bachelor_2022 <dbl>,
#   asian_2022 <dbl>, black_2022 <dbl>, hispanic_2022 <dbl>, RegionID <int>,
#   SizeRank <int>, RegionType <chr>, StateName <chr>, State <chr>, City <chr>,
#   Metro <chr>, CountyName <chr>, X2000.01.31 <dbl>, X2000.02.29 <dbl>,
#   X2000.03.31 <dbl>, X2000.04.30 <dbl>, X2000.05.31 <dbl>, X2000.06.30 <dbl>,
#   X2000.07.31 <dbl>, X2000.08.31 <dbl>, X2000.09.30 <dbl>, X2000.10.31 <dbl>,
#   X2000.11.30 <dbl>, X2000.12.31 <dbl>, X2001.01.31 <dbl>, …
# ℹ Use `colnames()` to see all variable names

In [22]:
%%R

# Create a new column named bachelor_rate_2022, which is the ratio of bachelor_2022 to total_population_2022
wa_census_data_2022_wide <- wa_census_data_2022_wide %>%
    mutate(bachelor_rate_2022 = bachelor_2022 / total_population_2022)

# Create a new column named asian_rate_2022, which is the ratio of asian_2022 to total_population_2022
wa_census_data_2022_wide <- wa_census_data_2022_wide %>%
    mutate(asian_rate_2022 = asian_2022 / total_population_2022)

# Create a new column named black_rate_2022, which is the ratio of black_2022 to total_population_2022
wa_census_data_2022_wide <- wa_census_data_2022_wide %>%
    mutate(black_rate_2022 = black_2022 / total_population_2022)

# Create a new column named hispanic_rate_2022, which is the ratio of hispanic_2022 to total_population_2022
wa_census_data_2022_wide <- wa_census_data_2022_wide %>%
    mutate(hispanic_rate_2022 = hispanic_2022 / total_population_2022)

In [23]:
%%R

# Create a new df, which includes the following columns from nj_census_data_2022_wide:
# GEOID, total_population_2022, median_room_2022, median_built_2022, median_income_2022, bachelor_rate_2022, asian_rate_2022, black_rate_2022, hispanic_rate_2022, X2022.12.31
df_final <- wa_census_data_2022_wide %>%
    select(GEOID, total_population_2022, median_room_2022, median_built_2022, median_income_2022, bachelor_rate_2022, asian_rate_2022, black_rate_2022, hispanic_rate_2022, X2022.12.31)

# Show the first 5 rows of the df_final dataframe
head(df_final)

# A tibble: 6 × 10
  GEOID total_population_2022 median_room_2022 median_built_2022
  <chr>                 <dbl>            <dbl>             <dbl>
1 98001                 35842              6.2              1985
2 98002                 36812              4.5              1977
3 98003                 51329              4.5              1984
4 98004                 39161              3.8              1998
5 98005                 22030              4.8              1980
6 98006                 39753              7.6              1979
# ℹ 6 more variables: median_income_2022 <dbl>, bachelor_rate_2022 <dbl>,
#   asian_rate_2022 <dbl>, black_rate_2022 <dbl>, hispanic_rate_2022 <dbl>,
#   X2022.12.31 <dbl>

In [24]:
%%R

# Run a multiple linear regression model with X2022.12.31 as the dependent variable
# and the other columns as the independent variables

model <- lm(X2022.12.31 ~ total_population_2022 + median_room_2022 + median_built_2022 + median_income_2022 + asian_rate_2022 + black_rate_2022 + hispanic_rate_2022, data = df_final)

# Show the summary of the model
summary(model)

Call:
lm(formula = X2022.12.31 ~ total_population_2022 + median_room_2022 +
    median_built_2022 + median_income_2022 + asian_rate_2022 +
    black_rate_2022 + hispanic_rate_2022, data = df_final)

Residuals:
    Min      1Q  Median      3Q     Max
-796208  -86189  -12079   64640 2323291

Coefficients:
                        Estimate Std. Error t value Pr(>|t|)
(Intercept)            8.627e+05  1.398e+06   0.617   0.5375
total_population_2022 -8.203e-01  6.836e-01  -1.200   0.2309
median_room_2022       6.954e+04  1.122e+04   6.198 1.48e-09 ***
median_built_2022     -6.726e+02  7.117e+02  -0.945   0.3452
median_income_2022     1.345e+01  9.641e-01  13.946  < 2e-16 ***
asian_rate_2022        1.295e+06  1.855e+05   6.978 1.32e-11 ***
black_rate_2022       -7.186e+05  3.099e+05  -2.319   0.0209 *
hispanic_rate_2022     4.011e+04  6.557e+04   0.612   0.5411
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 190200 on 384 degrees of freedom
  (6 observations deleted due to missingness)
Multiple R-squared:  0.6855,	Adjusted R-squared:  0.6798
F-statistic: 119.6 on 7 and 384 DF,  p-value: < 2.2e-16